@{
    ViewData["Title"] = "Login Page";
    Layout = "~/Views/Shared/Layout.cshtml";
}
@using MonitoringApp.Model.RequestResponseClasses
@model LoginRequest

    <div class="row col-lg-5 col-md-6 col-sm-12 gx-5 justify-content-center">
    <form method="post">
        <label asp-for="AccountName">Kullancıcı Adi</label>
        <input asp-for="AccountName" class="form-control" placeholder="Kullancı Adı" />
        <span asp-validation-for="AccountName"></span>

        <label asp-for="Password">Sifre</label>
        <input type="password" asp-for="Password" class="form-control" placeholder="Sifre" />
        <span asp-validation-for="Password"></span>

        <button type="submit" class="btn btn-success mt-2">Giriş</button>
    </form>
</div>
